<tr>
  <td>{{model.title}}</td>
  <td data-hook="pid">{{model.pid}}</td>
  <td data-hook="user">{{model.user}}</td>
  <td data-hook="group">{{model.group}}</td>
  <td data-hook="uptime">{{model.uptimeFormatted}}</td>
  <td data-hook="restarts">{{model.restarts}}</td>
  <td data-hook="memory">{{model.memoryFormatted}}</td>
  <td data-hook="cpu">{{model.cpuFormatted}}</td>
</tr>
