<div class="panel panel-default" data-hook="host-data">
  <div class="panel-heading" role="tab" id="headingOne">
    <h4 class="panel-title">System information</h4>
  </div>
  <div class="panel-body">
    <ul>
      <li>Hostname: {{model.hostname}}</li>
      <li>Type: {{model.type}}</li>
      <li>Platform: {{model.platform}}</li>
      <li>Arch: {{model.arch}}</li>
      <li>Release: {{model.release}}</li>
      <li>CPUs: {{model.cpus.length}}x {{model.cpuSpeed}}</li>
      <li>Version: {{model.version}}</li>
      <li>Uptime: <span data-hook="uptime">{{model.uptimeFormatted}}</span></li>
      <li>Time: <span data-hook="time">{{model.timeFormatted}}</span></li>
    </ul>
  </div>
</div>