<ul class="information process-list" data-boss-process-id="{{model.id}}">
  <li class="expand">
    <h3>Title</h3>
    <p>{{model.title}}</p>
  </li>
  <li>
    <h3>Pid</h3>
    <p>{{model.pid}}</p>
  </li>
  <li>
    <h3>User</h3>
    <p>{{model.user}}</p>
  </li>
  <li>
    <h3>Group</h3>
    <p>{{model.group}}</p>
  </li>
  <li>
    <h3>Uptime</h3>
    <p>{{model.uptimeFormatted}}</p>
  </li>
  <li>
    <h3>Restarts</h3>
    <p>{{model.restarts}}</p>
  </li>
  <li>
    <h3>Memory</h3>
    <p>{{model.memoryFormatted}}</p>
  </li>
  <li>
    <h3>CPU</h3>
    <p>{{model.cpuFormatted}}</p>
  </li>
</ul>